section
  h1 NLP
  h4 natual language processing
  a(href="http://ailove-lab.github.io/ml") ailove-lab.github.io/ml/nlp


section
  h2 План
  ul
    +li Классический NLP
    +li Современный NLP
    +li Примеры

  
section
  h2 Области
  ul
    +li 
    +li Юриспреденция


  
section
  h2 Решаемые задачи
  ul
    +li Машинный перевод
    +li Классификация текстов
    +li Извлечение именованных сущностей
    +li Синтаксический парсинг
    +li Извлечение фактов / отношений (relation extraction)
    +li Вопросо-ответные системы (question answering)
    +li Диалоговые системы, чатботы
    +li Поиск обоснования в тексте

section
  h2 Структура
  ul
    +li Токен
    +li Контексто-независимые признаки
    +li Контекст уровня предложения и выше


section
  h2 Эмбеддинг
    +li Отображение из дискретного вектора признаков в непрерывный вектор заданной размерности.
    +li Суть - понижение размерности 
    +li Обучается на очень больших корпусах


section
  h2 NER
    +li Выделение сущностей
    +li Структуризация неструктурированных данных
    +li Выделение в тексте важных сущностей
      
    
section
  h2 Современный NLP


section
  h2 BERT

  
section
  h2 XLNet

  
section
  h2 ERNIE


section
  h2 Материалы
  ul
    li A survey of Named Entity Recognition and Classification
    li Natural Language Processing (Almost) from Scratch
    li: a(href="https://www.youtube.com/watch?v=6ys5F8W0Qbw") Иван Смуров, лекция от ABBYY
      
