section
  h1 Машинное обучение

section
  h2 План
  ul
    +li Посмотрим на ML с птичьего полета
    +li Вспомним линейные уравнения и матрицы
    +li Посмотрим как устроен нейрон
    +li В общих чертах разберемся с обучением сетей
    +li Попробуем все это на питоне
    
section
  include quotes
    
section
  include news


