section
  h1 ML
  small machine learning
  
section
  h2 Суть ML
  img(src='img/ml_comics.png')

section
  h3 Соседние области
  img.stretch(src='img/ml_map_big.png')

section(data-markdown)
  textarea(data-template).
    ### Соседние области
    - Нейронные сети
    - Распознавание образов
    - Искуственныйинтелект
    - Дата майнинг

section
  h3 Разделы ML
  img.stretch(src='img/ml_map_detailed.png')

section(data-markdown)
  textarea(data-template).
    ### Разделы
    - Обучение с учителем
      - Классификация
      - Регрессия
    - Обучение без учителя
      - Кластеризация
      - Снижение рзамерности данных
    - Обучение с подкреплением
    - Оптимизация
    - Управлениe
    - Генерация

section
  h3 Обучение с учителем
    
section
  h3 Обучение с подкреплением
    
section
  h3 Обучение без учителя

section
  h3 выбор алгоритма (scikit) 
  img.stretch(src='img/ml_scikit_map.png')

section
  h3 выбор алгоритма (dlib)
  img.stretch(src='img/ml_dlib_map.png')
