section
  h1 ML
  small machine learning
  
section
  h2 Суть ML
  img(src='img/ml_comics.png')

section
  h3 Соседние области
  img.stretch(src='img/ml_map_big.png')

section(data-markdown)
  textarea(data-template).
    ### Соседние области
    - Нейронные сети
    - Распознавание образов
    - Искуственныйинтелект
    - Дата майнинг

section
  h5 В ML две основные темы
  h3.fragment Данные
  h3.fragment Алгоритмы


section
  h3 Данные
  ul
    li.fragment Данными может быть все, что угодно
    li.fragment Данных всегда мало
    li.fragment Данные всегда зашумлены или нерелевантны
    li.fragment Данные могут быть размеченными и нет
    li.fragment Данные можно разбить на характеристики, но не всегда
    li.fragment Сбор и обработка занимает 80% времени
    li.fragment Оставшиеся 80% времени уходит на улучшение датасета
    li.fragment Следствие - датасеты очень дорого стоят

section
  h3 Алгоритмы
  ul
    li.fragment Их очень много, примерно по 2-3 на каждого существовашего математика
    li.fragment Алгоритм выбирается изходя из имеющихся данных и типа задачи
    li.fragment На каждую задачу есть по крайней мере два алгоритма её решения 
 
section
  h3 Разделы ML по типу обучения
  img.stretch(src='img/ml_map_detailed.png')

section(data-markdown): textarea(data-template).
  ### Основные разделы ML
  - Обучение с учителем <!-- .element: class="fragment" -->
    - Классификация
    - Регрессия
  - Обучение без учителя <!-- .element: class="fragment" -->
    - Кластеризация
    - Снижение рзамерности данных
  - Обучение с подкреплением <!-- .element: class="fragment" -->

section
  h3 Обучение с учителем
  p.fragment Ознaчает, чтo у нас есть размеченные данные.
  p.fragment На основне этих данных мы можем построить мат-модель, которая будет предсказывать ответы для новых неизвестных ситауций.
  p.fragment Здесь решаются как правило задачи классификаци и регрессии.
  img.fragment.stretch(src='img/ml_regression_vs_classification.png')

section
  h3 примеры задач
  ul
    li.fragment классификация изображений, текстов, музыки
    li.fragment обнаружение махинаций при финансовых операциях
    li.fragment диагностика заболеваний
    li.fragment предсказание биржевых курсов
    li.fragment оптимизация процессов

section
  h3 Обучение без учителя
  p.fragment Есть только сырые данные, но есть желание достать из них что-то, возможно ценное.
  p.fragment Здесь есть два основных направления:
  ul.fragment
    li Кластеризация
    li Уменьшение размерности
      
section
  h3 Кластеризация
  p Набор алогритмов, позволяющих выявить в данных отдельные группы
  img.stretch(src="img/clustering.png")
  
section
  h3 Уменьшение размерности 
  p Позволяет выделить из данных общие признаки
  img.stretch(src="img/ml_umap.png")

section
  h3 Обучение с подкреплением
  p Данных нет, но есть среда
  img.stretch(src="img/ml_mario.jpeg")

section
  h3 Зоопарк алгоритмов
  h4 scikit 
  img.stretch(src='img/ml_scikit_map.png')

section
  h3 зоопрак алгоритмов
  h4 dlib
  img.stretch(src='img/ml_dlib_map.png')

section
  h3 Ансабли
  p Способ очень сильно повысить качество обычных алгоритмов собирая их в группы

section
  h4 Популярные способы объединения алгоритмов
  ul
    li.fragment Стекинг
      p: small Берем много разных алгоритмов и потом усредняем результат
    li.fragment Беггинг
      p: small Берем один алгоритм, но обучаем его на случайных частях датасета
    li.fragment Бустинг
      p: small Берем один алгоритм и дообучаем его на тех частях датасета, которые дали много ошибок

section
  h3 подитог
  ul
    li.fragment Машинное обучение состоит из большого ко-ва различных алгоритмов
    li.fragment Выбор алгоритма определяется данными и задачей
    li.fragment Лучшие результаты дают ансабли алгоритмов
    li.fragment A ещё есть нейронные сети, про которые на некоторое время забыли, но они вернулись!

section
  h3 Доп-Материалы
