section
  h1 ML
  small: h5 machine learning
  h5 🡓
  
section
  h2 Суть ML
  img(src='img/ml_comics.png')

section
  h3 Соседние области
  img.stretch(src='img/ml_map_big.png')

section
  h3 Соседние области
  ul
    +li Нейронные сети
    +li Распознавание образов
    +li Искуственныйинтелект
    +li Дата майнинг

section
  h5 В ML две основные темы
  h3.fragment Данные
  h3.fragment Алгоритмы

section
  h3 Данные
  ul
    +li Данных всегда мало
    +li Данные всегда зашумлены, неоднородны и слабо-релевантны задаче
    +li Сбор и обработка данных занимает 80% времени
    +li Следствие - датасеты очень дорого стоят

section
  h3 Алгоритмы
  ul
    +li Их очень много, примерно по 2-3 на каждого математика
    +li Алгоритм выбирается исходя из имеющихся данных и типа задачи
    +li На каждую задачу есть по крайней мере два алгоритма её решения 
 
section
  h3 Разделы ML по типу обучения
  img.stretch(src='img/ml_map_detailed.png')

section
  h3 Основные разделы ML
  ul
    +li Обучение с учителем
      ul
        li Классификация
        li Регрессия
    +li Обучение без учителя
      ul
        li Кластеризация
        li Снижение рзамерности данных
    +li Обучение с подкреплением

section
  h3 Обучение с учителем
  ul
    +li Как правило ознaчает, чтo у нас есть размеченные данные.
    +li На основне этих данных мы можем построить мат-модель, которая будет предсказывать ответы для новых неизвестных ситауций.
    +li Решает задачи классификаци и регрессии.

section
  h3 Классификация и регрессия
  img(src='img/ml_regression_vs_classification.png')

section
  h3 примеры задач
  ul
    +li классификация изображений, текстов, музыки
    +li обнаружение махинаций при финансовых операциях
    +li диагностика заболеваний
    +li предсказание биржевых курсов
    +li оптимизация процессов

section
  h3 Обучение без учителя
  ul
    +li Есть только сырые данные, но есть желание достать из них что-то, возможно ценное.
    +li Здесь есть два основных направления:
      ul
        li Кластеризация
        li Уменьшение размерности
      
section
  h3 Кластеризация
  img.stretch(src="img/clustering.png")
  small Набор алогритмов, позволяющих выявить в данных отдельные группы
  
section
  h3 Уменьшение размерности 
  img.stretch(src="img/ml_umap.png")
  small Позволяет выделить из данных общие признаки

section
  h3 Обучение с подкреплением
  img.stretch(src="img/ml_mario.jpeg")
  small Данных нет, но есть среда

section
  h3 Зоопарк алгоритмов
  img.stretch(src='img/ml_scikit_map.png')
  br
  small scikit

section
  h3 зоопрак алгоритмов
  img.stretch(src='img/ml_dlib_map.png')
  br
  small dlib

section
  h3 Ансабли
  p Способ очень сильно повысить качество обычных алгоритмов собирая их в группы

section
  h4 Популярные способы объединения алгоритмов
  ul
    +li Стекинг
      p: small Берем много разных алгоритмов и потом усредняем результат
    +li Беггинг
      p: small Берем один алгоритм, но обучаем его на случайных частях датасета
    +li Бустинг
      p: small Берем один алгоритм и дообучаем его на тех частях датасета, которые дали много ошибок

section
  h3 подитог
  ul
    +li Машинное обучение состоит из большого ко-ва различных алгоритмов
    +li Выбор алгоритма определяется данными и задачей
    +li Лучшие результаты дают ансабли алгоритмов
    +li A ещё есть нейронные сети, про которые на некоторое время забыли, но они вернулись!

section
  h3 Доп-Материалы
