section
  h1 NN
  small neural networks

section
  include nn_base

section
  include nn_neuron

section
  include nn_activation
    
section
  include nn_network

section
  include nn_training
    
section
  include nn_matrices
