section
  h2 Новости

section(data-markdown)
  textarea(data-template).

    - [gizmodo](https://gizmodo.com/tag/neural-networks)
    - [extremetech](https://www.extremetech.com/?s=neural+networks)
    - [aiweekly](http://aiweekly.co/)
    - [medium](https://medium.com/search?q=%20neural%20network)

section
  a(href='https://rossaprimavera.ru/article/729591e2').
    AlphaZero, после двух часов самостоятельного обучения игре в
    шахматы (без баз партий), смогла обыграть Stockfish_v8 со счетом 155:6
    (839 ничьих)

section
  a(href='https://www.the-scientist.com/news-opinion/ai-object-recognition-system-operates-at-speed-of-light--64569').
    ИИ работающий со скоростью света, использование 3D печати для
    изготвления оптических систем распознавания

section
  a(href='https://www.extremetech.com/extreme/275643-stanford-researchers-build-ai-directly-into-camera-optics').
    Стендфордские исследователи реализовали систему
    распознавания непосрдественно в оптическом канале камеры

section
  a(href='https://neurosciencenews.com/brain-reading-neuroimaging-7794/').
    Чтение мыслей. Использование искуственных нейронных сетей
    для перевода энцефалограмм

section
  a(href='https://techcrunch.com/2017/12/13/china-cctv-bbc-reporter/').
    7 минут, столько потребовалось китайской системе безопасности,
    чтобы найти человека в городе

section
  a(href='https://www.telegraph.co.uk/news/2018/04/12/facial-recognition-used-catch-fugitive-among-60000-concert-goers/').
    Полиция китая начала применять системы faceid, для задержания
    прeступников на массовых мероприятиях

section
  a(href='https://www.sciencealert.com/google-is-improving-its-artificial-intelligence-with-artificial-intelligence').
    Гугл и фейсбук разрабатывают нейронные сети для разработки
    и обучения других нейронных сетей

section
  a(href='https://arxiv.org/abs/1606.04474').
    Нейронная сеть гугла способна оценивать здоровье по
    фотографии ретины

section
  a(href='https://www.extremetech.com/extreme/261491-google-neural-network-can-predict-health-status-retina').
    Нейронные сети позволили ускорить обработку MRT в 1000 раз

section
  a(href='https://www.extremetech.com/extreme/271725-mit-neural-network-accelerates-mri-image-processing-by-1000-times').
    Дата-майнинг выявил скрытые закономерности в развитии музыки

section
  a(href='http://cur.at/89XC04T?m=web').
    Гугл разрабатывает платформу для автоматического построения
    AI - AutoML

section
  a(href='https://www.extremetech.com/computing/262265-googles-automl-creates-machine-learning-models-without-programming-experience').
    Нейронные сети успешно применяются при изучении дальних
    галактик

section
  a(href='https://gizmodo.com/ai-is-getting-pretty-good-at-studying-distant-galaxies-1825513242').
    Нейронная сеть SETI обнаружила множество радиo-вспышек, в
    далекой галактике

section
  a(href='https://gizmodo.com/setis-new-neural-network-detects-many-more-fast-radio-b-1828957295').
    AI превращает текст в кошмарные изображения

section
  a(href='https://gizmodo.com/this-online-ai-tool-takes-your-words-and-turns-them-int-1828413827').
    Нейронная сеть Street View теперь распознает капчи лучшe людей

section
  a(href='https://www.extremetech.com/computing/174275-google-has-built-a-neural-network-to-identify-100-million-house-numbers-for-streetview').
    Испольование ИИ для диагностики рака

section
  a(href='https://www.extremetech.com/extreme/249212-deep-learning-ai-soon-assist-spotting-cancer').
    NVidia научила AI бесследно удалять тексты с изображений

section
  a(href='https://gizmodo.com/nvidia-taught-an-ai-to-flawlessly-erase-watermarks-from-1827474196').
    DeepMind разработал сеть воссоздающую 3д модели по одному фото

section
  a(href='https://www.extremetech.com/extreme/271661-google-deepmind-builds-ai-that-reconstructs-3d-objects-from-a-single-photo').
    Гугл начуил нейронную сеть выдеделять отдельные голоса в
    видео

section
  a(href='https://www.extremetech.com/computing/267476-google-neural-network-can-isolate-individual-voices-in-videos').
    Разработчики MIT научили ИИ выделять одтельные инструменты
    из аудио записи

section
  a(href='https://gizmodo.com/mits-new-ai-powered-software-can-extract-individual-ins-1827372032').
    ИИ камера, делающая вместо фотографий детские рисунки

section
  a(href='https://gizmodo.com/this-neural-network-instant-camera-turns-everything-you-1827320631').
    BigGAN новая веха в генерации изображений

section
  a(href='https://medium.com/syncedreview/biggan-a-new-state-of-the-art-in-image-synthesis-cf2ec5694024').
    Nvidia GAN, невероятно реалистичная генерация лиц

section
  a(href='https://futurism.com/incredibly-realistic-faces-generated-neural-network').
    ИИ создает невероятно реалистичные фейковые видео

section
  a(href='https://gizmodo.com/deepfake-videos-are-getting-impossibly-good-1826759848').
    Люди используют нейронные сети для создания фейкового порно
    с целебами

section
  a(href='https://www.extremetech.com/extreme/262828-people-using-neural-network-app-create-fake-celebrity-porn').
    Пример нейронной сети генерирующей уникальных
    аниме-персонажей

section
  a(href='https://gizmodo.com/watch-this-neural-network-generate-an-infinite-number-o-1820468357').
    ИИ генерирует пугающе релистичные фотографии людей

section
  a(href='https://gizmodo.com/watching-this-neural-network-render-truly-photorealisti-1819957128').
    Китай представил AI-телеведущего работающёго 24/7

section
  a(href='https://www.theguardian.com/technology/video/2018/nov/09/worlds-first-ai-presenter-unveiled-in-china-video').
    ИИ превращает фото еды в её состав

section
  a(href='https://gizmodo.com/ingenious-ai-converts-images-of-food-into-a-list-of-ing-1797064148').
    Нейронная сеть превращает каракули в фото

section
  a(href='https://gizmodo.com/turn-doodles-into-furry-cat-monsters-with-machine-learn-1792629969').
    Нейронная сеть создает новые танцы

section
  a(href='https://www.extremetech.com/extreme/262828-people-using-neural-network-app-create-fake-celebrity-porn').
    Пентагон разрабатывает ИИ для поиска пусковых установок

section
  a(href='https://www.extremetech.com/extreme/270746-the-pentagon-is-building-an-ai-to-find-secret-nuclear-missiles').
    ИИ в сухую уделывает опытного пилота в симуляциях воздушного
    боя

section
  a(href='https://habr.com/post/395525/').
    DARPA вкладывает $2B в развитие следующего поколения AI
