section
  h2 Нейрон

section
  h3 1943 год
  img(src="img/nn_uorren.png")
  br
  small
    | Мат-модель нейронной связи была предложена <b>75 лет</b> назад <br>Уорреном Мак-Каллоком

section
  h3 Модель нейрона
  img(src="img/nn_neuron.png")
  small.
    \begin{align*}
    \large y &= f(\vec x \cdot \vec w) \\
    \large   &= f(w_0 + x_1 w_1 + x_2 w_2 + \dots +x_n w_n) 
    \end{align*}


section(data-markdown): textarea(data-template).
  - [$x_1 \dots x_n$]() - входные данные
  - [$x_0$]()           - по соглашению всегда равен $1$
  - [$y$]()             - выход
  - [$w_0 \dots w_n$]() - веса, которые необходимо найти
  - [$w_0$]()           - свободный вес, смещение (bias)
  - [$f$]()             - фунция активации

  
section
  h3 нейрон с одним входом

  img(src='img/nn_linear.png')

  small
    p $$y = f(w_0 + w_1 x_1)$$
    p
      | В случае если на входе модели только одна переменная $x$, мы получаем простейшую линейную модель.
      | Этого уже достаточно, чтобы аппроксимировать некое линейное расспределение данных.

section
  h3 подбор параметров $w_0,w_1$
  a(href='https://www.desmos.com/calculator/jwquvmikhr')
    img(src="img/nn_linear.gif")

  
section
  h3 нейрон с двумя входами

  img(src='img/nn_planar.png')

  small
    p $$y = f(w_0 + w_1 x_1 + w_2 x_2)$$
    p Если на входе две переменные $x$, мы получаем уже уравнение плоскости

section
  h3 Аппроксимация плоскостью
  img.stretch(src='img/nn_planar_graph.png')


//section(data-background-iframe="https://ailove-lab.github.io/hyper/07.html")
section
  h3 с тремя входами и выше

  img.stretch(src='img/nn_neuron_model.png')
  p $$ y = f(w_0 + x_1 w_1 + x_2 w_2 + \dots +x_n w_n)$$

  small.
    Mы по прежнему получаем линейное уравнения, гиперплоскости, представить и
    изобразить которых довольно <a href='https://ailove-lab.github.io/hyper/07.html'>сложно</a>, т.к. мы существа трехмерные

section

  h2 Всё вокруг кривое
  blockquote.
    На свете нет ничего одинакового. Все распределяется по гауссиане. Этот старый дурак не сообразил, что существует дисперсия свойств…
  small.
    A. и Б. Стругацкие, "Понедельник начинается в субботу"
  // img.plain.small(src="img/pushen_philosophy.png")
