section
  blockquote.
    ИИ - отнюдь не электронный сатана, а
    всего лишь устройство, которое ищет статистические корреляции.
    Однажды, например, оно обнаружит, что лекарство от кариеса улучшает общее благосостояние общества,
    путем уменьшения популяции, но обнaружить это будет невозможно из-за сложности системы.

  aside.notes.
    ..., исчисляемыми
    миллионами и тысячами миллионов. Как регулятор, он оптимизирует
    экономические отношения, поэтому состояние высокого жизненного уровня
    населения является и состоянием его собственного равновесия. Прирост
    населения угрожает этому равновесию. В какой-то момент, например, "ящик" обнаружит
    положительную корреляцию между падением прироста населения и применением
    лекарства от кариесa.
  div.
    Станислав Лем, 1967
