section
  h2 Время практики
  +arr

mixin py 
  pre.python: code(data-trim data-noescape)
    block

section
  h2 вектора и матрицы
    
section
  img(src="img/py_neuron.png")
  +py.
    import numpy as np
    x = np.array([1,2,3])
    w = np.array([4,5,6])
    y = np.dot(x,w)
    print(f"на входе нейрона {x}, веса {w}, результат: {y}")
  pre.
    на входе нейрона: [1 2 3], веса: 32, результат: 32

section
  img(src="img/py_neuron_X.png")
  +py.
    import numpy as np
    x = np.array([[1,2,3],[1,4,6],[3,2,1]])
    w = np.array([4,5,6])
    y = np.dot(x,w)
    print(f"на входе нейрона\n {x}, веса {w},\nрезультат: {y}")
  pre.
    на входе нейрона: 
    [[1 2 3]
     [1 4 6]
     [3 2 1]],
    веса: [32 60 28],
    результат: [32 60 28]

section
  img(src="img/py_neuron_n3.png")
  +py.
    x = np.array([[1,2,3],[1,4,6],[3,2,1]])
    w = np.array([[4,5,6],[2,4,5],[4,5,5]])
    y = np.dot(x,w)
  pre.
    результат:
    [[20 28 31]
     [36 51 56]
     [20 28 33]]
    
section
  img(src="img/py_neuron_l2.png")
  +py.
    x  = np.array([[1,2,3],[1,4,6],[3,2,1]])
    w1 = np.array([[4,5,6],[2,4,5],[4,5,5]])
    w2 = np.array([[1,1,2],[3,5,2],[4,4,5]])
    y  = np.dot(np.dot(x,w1),w2)
  pre.
    результат:
    [[228 284 251]
     [413 515 454]
     [236 292 261]]

section
  h3 простейший классификатор

section
  h3 Данные
  +py.
    # Входные данные
    X = np.array([
        [-2, 4, -1],
        [ 4, 1, -1],
        [ 1, 6, -1],
        [ 2, 4, -1],
        [ 6, 2, -1],
    ])
    # Классы
    Y = np.array([-1,-1,1,1,1])

section
  h3 Градиентный спуск
  +py.
    # Обучение методом градиентного спуска
    def neuron_sgd(X, Y):
        w = np.zeros(len(X[0]))
        eta = 1
        epochs = 20
        for t in range(epochs):
            for i, x in enumerate(X):
                if (np.dot(X[i], w)*Y[i]) <= 0:
                    w = w + eta*X[i]*Y[i]
        return w

section
  h3 Обучение
  +py.
    # Запускаем оубчение
    w = neuron_sgd(X,Y)
    # Хоба, получили веса нашей мат-модели
    print(f"w = {w}")
  pre.
    w = [ 2.  3. 13.]

  small Уравнение плоскости $y = 13.0 + 2.0 x_1 + 3.0 x_2$
  br
  img(src="img/py_firstclassifier.png")

section
  h3 Теперь вы дата-саентист!

section
  h3 Примеры посерьёзней

section
  img(src="img/kubensis.jpg")
  h3 Категоризация грибов
  ul
    +li Вы посмотрели подкаст с <a href="https://youtu.be/6BeTUYAUXbY?t=4100">Полом Стеменсом</a> о нейрогенезе
    +li Во время прогулки в лесу нашли целую поляну чего-то похожего на Кубенсис 
    +li Теперь жизнено важно определить к какому виду отностится найденные грибы
    +li Кот их есть на отрез отказывается

section
  h3 Придется обучить нейронку
  img(src="img/inception_v3.png")
  ul
    +li Inception v3, обучение такой сети обходится гуглу в $20 000
    +li Но уже обученную сеть можно очень быстро дообучить под новые задачи

section
  h3 Повышение обобщения
  img(src="img/convolution_layers.png")

section
  h3 Приступим
    
  ul
    +li: a(href="https://archive.ics.uci.edu/ml/datasets/mushroom") Скачиваем датасет грибов
    +li Ставим tensorflow
      pre > pip install tensorflow
    +li Прямо в коробке с ним лежит пример <pre>examples/image_retraining/retrain.py<pre>
    +li Запускаем
      pre > python retrain.py --image_dir ~/my_mushrooms_dataset
    +li Идем заваривать чай

section
  h3 Пол часа спустя
  ul
    +li С умным видом смотрим в логи
    +li Достаем из коробки
      pre examples/label_image/label_image.py
    +li Запускаем
      pre.
        > python label_image.py \
        --graph=/tmp/output_graph.pb --labels=/tmp/output_labels.txt \
        --input_layer=Placeholder \
        --output_layer=final_result \
        --image=$HOME/magic_mushrooms/harvest_4/oooh_this_good_one.jpg
    +li: q О да чувак! Это он на 74%

section
  h3 Котя ты чего?
  img(src="img/cat.gif")
    
section
  h3 <div><span style="color:#ff8080;">Р</span><span style="color:#ffbf80;">А</span><span style="color:#ffff80;">Б</span><span style="color:#c0ff80;">О</span><span style="color:#80ff80;">Т</span><span style="color:#80ffff;">А</span><span style="color:#8080ff;">Е</span><span style="color:#c680ff;">Т</span></div>
  h3.fragment Это будет шикарный стартап!
    
section
    +p Вы это заметили?
    +p Мы даже <a href="https://github.com/tensorflow/hub/blob/master/examples/image_retraining/retrain.py">код</a> не открыли!
    +p Ну и ладно, главное, что нам понятно, что он делает!
