section
  h2 Время практики
  h5 🡓

mixin py 
  pre.python: code(data-trim data-noescape)
    block

section
  h2 вектора и матрицы
    
section
  img(src="img/py_neuron.png")
  +py.
    import numpy as np
    x = np.array([1,2,3])
    w = np.array([4,5,6])
    y = np.dot(x,w)
    print(f"на входе нейрона {x}, веса {w}, результат: {y}")
  pre.
    на входе нейрона: [1 2 3], веса: 32, результат: 32

section
  img(src="img/py_neuron_X.png")
  +py.
    import numpy as np
    x = np.array([[1,2,3],[1,4,6],[3,2,1]])
    w = np.array([4,5,6])
    y = np.dot(x,w)
    print(f"на входе нейрона\n {x}, веса {w},\nрезультат: {y}")
  pre.
    на входе нейрона: 
    [[1 2 3]
     [1 4 6]
     [3 2 1]],
    веса: [32 60 28],
    результат: [32 60 28]

section
  img(src="img/py_neuron_n3.png")
  +py.
    x = np.array([[1,2,3],[1,4,6],[3,2,1]])
    w = np.array([[4,5,6],[2,4,5],[4,5,5]])
    y = np.dot(x,w)
  pre.
    результат:
    [[20 28 31]
     [36 51 56]
     [20 28 33]]
    
section
  img(src="img/py_neuron_l2.png")
  +py.
    x  = np.array([[1,2,3],[1,4,6],[3,2,1]])
    w1 = np.array([[4,5,6],[2,4,5],[4,5,5]])
    w2 = np.array([[1,1,2],[3,5,2],[4,4,5]])
    y  = np.dot(np.dot(x,w1),w2)
  pre.
    результат:
    [[228 284 251]
     [413 515 454]
     [236 292 261]]

section
  h3 простейший классификатор

section
  h3 Данные
  +py.
    # Входные данные
    X = np.array([
        [-2, 4, -1],
        [ 4, 1, -1],
        [ 1, 6, -1],
        [ 2, 4, -1],
        [ 6, 2, -1],
    ])
    # Классы
    Y = np.array([-1,-1,1,1,1])

section
  h3 Градиентный спуск
  +py.
    # Обучение методом градиентного спуска
    def neuron_sgd(X, Y):
        w = np.zeros(len(X[0]))
        eta = 1
        epochs = 20
        for t in range(epochs):
            for i, x in enumerate(X):
                if (np.dot(X[i], w)*Y[i]) <= 0:
                    w = w + eta*X[i]*Y[i]
        return w

section
  h3 Обучение
  +py.
    # Запускаем оубчение
    w = neuron_sgd(X,Y)
    # Хоба, получили веса нашей мат-модели
    print(f"w = {w}")
  pre.
    w = [ 2.  3. 13.]

  small Уравнение плоскости $y = 13.0 + 2.0 x_1 + 3.0 x_2$
  br
  img(src="img/py_firstclassifier.png")

section
  h3 Теперь вы дата-саентист!

section
  h3 Примеры посерьёзней
