mixin li
  li.fragment.fade-in-then-semi-out
    block

mixin p
  p.fragment.fade-in-then-semi-out
    block

include intro

section
  include machine_learning

include neural_networks
section 
  include tools

section
  h2 Материалы
  include nn_materials
