
section
  blockquote.
    ИИ - отнюдь не  "электронный сатана", а всего лишь  устройство,
    которое ищет статистические корреляции. Решая глобальную задачу оптимизации,
    он может найти такие решения, конечный результат которых большинству из нас не понравится.
    И мы просто не заметим это вовремя из-за общей сложности системы.

  small
    a(href='http://lib.ru/LEM/summa/summgl4h.htm') Станислав Лем, 1967, "Сумма технологии"

  +note.
    Хаос на фондовой бирже регулярно вызываемый высокочастотными трейдерами.
    2012, Capital Knight Group убыток полмиллиарда за часа

section
  blockquote.
    К середине 20'х AI в целом превзойдет возможности человеческого мозга.
  small
    a(href='http://future.wikia.com/wiki/Scenario:_Shane_Legg') Шейн Легг, 2008
    br
    | Основатель DeepMind

section
  blockquote.
    В ближайшие 10 лет AI превзойдет человека в основных спобностях
    - зрении, слухе, естественном языке, способностям к мышлению.

  small: a(href='https://www.fastcompany.com/3052885/mark-zuckerberg-facebook').
    Марк Цукенберг, 2015

section
  blockquote.
    Я продолжаю бить тревогу, но пока люди не видят роботов,
    убивающих других людей на улицах, они не знают, как реагировать,
    поскольку им такой сценарий кажется нереалистичным.
  small: a(href='https://www.forbes.ru/tehnologii/347945-chelovechestvo-v-opasnosti-ilon-mask-prizval-regulirovat-iskusstvennyy-intellekt').
    Илон Маск, 2017

section
  blockquote.
    Железяка сама начинает так ходить? Нам говорят, что книги у нее нет,
    что она в такую бесову силу играет, несколько часов поучившись,
    в состоянии повторять то, что люди годами искали в новоиндийской защите.
  small
    a(href='https://rossaprimavera.ru/article/729591e2') Петр Свидлер, 2017
    br
    | гроссмейстер, об AlphaZero

section
  blockquote.
    Они потратили четыре часа на шахматы, потом за два часа они разбомбили сёги.
    Соответственно, ясно, что теперь они будут решать совершенно другие задачи. 
    Для них шахматы — просто мелочь какая-то.
  small
    a(href='https://rossaprimavera.ru/article/729591e2') Сергей Шипов, 2017
    br
    | гроссмейстер, об AlphaZero
      
section
  blockquote.
    Я вообще ничего не мог поделать, мои мысли будто читали.
  small
    a(href='https://habr.com/ru/post/395525/') Джин Ли, 2016
    br
    | военный пилот, о воздушном бое с ИИ
