section
  h1 TOOLS
  h5 🡓

section
  h2 test
  ul
    +li тестонимо
    +li тест
    +li тест

section
  h2 Python
  ul
    +li Весь академический мир работает на питоне.
    +li Как следствие, экосистема питона самая богатая в алгоритмическо-математическом плане.
    +li Лучшие платформы scikit, tensorflow, pytorch ориентированы на питон в первую очередь.
    +li Все популярные ML алгоритмы либо имеют реализацию на питоне, либо имеют интерфейс для питона.

section
  h2 scikit
  ul
    +li Наверное самый обширный фреймворк машинного обучеиния из существующих.
    +li Содержит большинство популярных алгоритмов для классификации, регрессии, кластеризации, снижения размерности.
    +li Содержит все необходимое для препроцессинга данных.
    +li Отлично документирован.

section
  h2 scipy
  ul
    +li Огромная открытая экосистема, ориентировання на математиков, ученых и иженеров.
    +li Именно благодаря scipy, питон стал столь популярен в академических кругах.
    +li Содержит такие компоненты как: numpy, scipy lib, sympy, pandas, IPython, matplotlib

section
  h2 numpy
  ul
    +li Фундаментальная библиотека для научных расчетов
    +li Отлично оптимизорвана для работы с большими многомерными массивами
    +li Является основой для другх математических библиотек

section
  h2 scipy lib
  ul
    +li Фундaментальная библиотека scipy
    +li Содержит множество оптимизированных алгоритмов для численых вычислений:
      ul
        +li интеграции
        +li интерполяции
        +li линейной алгебры
        +li статистики

section
  h2 pandas
  ul
    +li Мощная и удобная библиотека для обрабтоки и анализа данных
    +li Является интерфейсом к numpy, следовательно очень производительна
    +li По сути это питоновский Excell, только мощнее и быстрее.
      
section
  h2 sympy
  ul
    +li Молодой, но уже довольно мощный фреймворк машинной алгебры.
    +li Позволяет работать с математическими выражениям в аналитической форме.
    +li Открытая альтернатива таким пакетам как Maple или Mathematica

section
  h2 Jupyter
  ul
    +li Интерактивная веб-оболочка основання на IPython. 
    +li Давно стала стандартным инструментом в научно-исследовательских работах.
    +li Позволяет совмещать форматировную документацию, рабочий код и визуализацию в одном документе.
    +li IPython изначально разрабатывался под питон, но сейчас jupyter поддерживает другие языки.

section
  h2 colab
  ul
    +li Форк Jupyter от гугла
    +li Развернут на в облаке GCP и открыт для всех желающих
    +li Предоставляет бесплатный доступ к GPU и TPU

section
  h2 tensorflow
  ul
    +li На сегодняшнй день лидирующий фреймворк машинного обучения.
    +li Разрабатывается гуглом.
     
section
  h2 Keras
  ul
    +li Высокоуровневое API работающее поверх Tensorflow, Theano, CNTK
    +li Tensorflow начиная с версии 2.0 поддерживает это API нативно
    +li Идеально подходит для погружения в ML
     
section
  h2 pytorch

section
  h2 client
