section
  h2 Кейсы
  +arr

section
  +p Свыше десятка проектов с машинным зрением и дополненой реальностью
  +p Прогнозирование CTR креативов
  +p Прогнозирование беременности
  +p Распознвание пород кошек
  +p Трекинг лиц, faceid,  распознавание эмоций
  +p NLP - классификация коментариев, определение эмоциональной окраски текстов
  +p Попытки генерировать музыку


section
  h3 Прогнозирование CTR
  +p Есть креатив и метрики его размещения
  +p Необходимо спрогнозировать его успешность
  img.fragment(src="img/cases_ctr.png")


section
  h3 Расознавание речи, KWS
  +p Сбор датасета
  +p Рекуррентные нейронные сети
  +p Мобильное приложение
  +p Разработка гаджета
  
section
  h3 Котики
  img.fragment(src="img/cases_cats.jpg")
  +p 1M аккаунтов / 60М фотографий
  +p Оценочный кост обработки на googlevision $60К
  +p Собственная классификация на AWS заняла неделю
  +p Стоила $350
  
section
  h3 Эмоции человека
  +p Живая инсталляция в парке
  +p Трекер лиц - dlib
  +p Классификация эмоций - svm
  img.fragment(src="img/cases_movenpick.jpg")

section
  h3 NLP
  +p Классификация комментариев в сообществе
  +p Кластеризация
  img.fragment(src='img/cases_nlp.png')

section
  h3 Прогнозирование беременности
  +p Рабочая гипотеза - по поведению в соцеальных сетях можно предсказать беременность и старгетироваться
  img.fragment(src="img/cases_moms.png")

section
  h3 GAN - этого платья не существует
  +p Генерация нового контента
  img.fragment(src="img/gan.png")
 
section
  h3 Машинное зрение

  a(href="https://www.youtube.com/playlist?list=PLAuHgCDj0SBvj5Brg9SEi8Xb6nV9mCYc_") youtube архив
