section
  h2 Заключение
  +arr

section
  ul
    +li ML/NN уже обошли способности живого мозга во многих узких областях
    +li В ближайшее время обойдут в оставшихся
    +li Технологическая сингулярность уже наступила, возврата нет
    +li выживут только питонисты :)
      
section
  ul
    +li Чтобы не заблудится в джунглях алгоритмов, пользуемся картами
    +li Под многие задачи уже существуют state-of-art решения
    +li Для простых задач используем алгоритмы из scikit
    +li Для задач посерьёзней - ансамбли алгоритмов
      
section
  ul
    +li Для сложных задач используем нейронные сети + transfer learnig
    +li Изучаем Tensowflow + Keras, периодически заглядываем в Pytorch
    +li Используем бесплатные GPU/TPU от гугла и дешевые споты AWS

section
  ul
    +li Не забываем про данные
    +li Оснoвные 80% работы в ML это аггрегация и препроцессинг данных, часто в ручную

section
  h3.
    Учиться, учиться и учиться
  small В.И. Ленин
