include intro

section
  include machine_learning

include neural_networks

section 
  include tools

section 
  include practice

section
  include solutions

section
  include epilogue

section
  include nn_materials
