include intro

section
  include cases

section
  include machine_learning

include neural_networks

section
  include solutions

section 
  include tools

section 
  include practice

section
  include epilogue

section
  include nn_materials
