section
  h2 Платформы
  +arr

section
  h2: a(href='https://cloud.google.com/products/ai/') Google
  ul
    +li Зрение
    +li Язык
    +li Диалоги
    +li Данные
    +li Cloud AutoML

section
  h2: a(href='https://aws.amazon.com/ru/machine-learning/') AWS
  ul
    +li Рекомендации
    +li Прогнозирование
    +li Анализ изображений и видео
    +li Расширенная текстовая аналитика
    +li Анализ документов
    +li Транскрибирование
