section
  h2 TOOLS
  +arr


section
  h2 Python
  ul
    +li Весь академический мир работает на питоне.
    +li Как следствие, экосистема питона самая богатая в алгоритмическо-математическом плане.
    +li Лучшие платформы scikit, tensorflow, pytorch ориентированы на питон в первую очередь.
    +li Все популярные ML алгоритмы либо имеют реализацию на питоне, либо имеют интерфейс для питона.


section
  h2 scikit
  ul
    +li Наверное самый обширный фреймворк машинного обучеиния из существующих.
    +li Содержит большинство популярных алгоритмов для классификации, регрессии, кластеризации, снижения размерности.
    +li Содержит все необходимое для препроцессинга данных.
    +li Отлично документирован.


section
  h2 scipy
  ul
    +li Огромная открытая экосистема, ориентировання на математиков, ученых и иженеров.
    +li Именно благодаря scipy, питон стал столь популярен в академических кругах.
    +li Содержит такие компоненты как: numpy, scipy lib, sympy, pandas, IPython, matplotlib


section
  h2 numpy
  ul
    +li Фундаментальная библиотека для научных расчетов
    +li Отлично оптимизорвана для работы с большими многомерными массивами
    +li Является основой для другх математических библиотек


section
  h2 scipy lib
  ul
    +li Фундaментальная библиотека scipy
    +li Содержит множество оптимизированных алгоритмов для численых вычислений:
      ul
        +li интеграции
        +li интерполяции
        +li линейной алгебры
        +li статистики


section
  h2 pandas
  ul
    +li Мощная и удобная библиотека для обрабтоки и анализа данных
    +li Является интерфейсом к numpy, следовательно очень производительна
    +li По сути это питоновский Excell, только мощнее и быстрее.


section
  h2 sympy
  ul
    +li Молодой, но уже довольно мощный фреймворк машинной алгебры.
    +li Позволяет работать с математическими выражениям в аналитической форме.
    +li Открытая альтернатива таким пакетам как Maple или Mathematica


section
  h2 Jupyter
  ul
    +li Интерактивная веб-оболочка основання на IPython. 
    +li Давно стала стандартным инструментом в научно-исследовательских работах.
    +li Позволяет совмещать форматировную документацию, рабочий код и визуализацию в одном документе.
    +li IPython изначально разрабатывался под питон, но сейчас jupyter поддерживает другие языки.


section
  h2 colab
  ul
    +li Форк Jupyter от гугла
    +li Развернут на в облаке GCP и открыт для всех желающих
    +li Предоставляет бесплатный доступ к GPU и TPU


section
  h2 Тяжелая артилерия


section
  h2 tensorflow
  ul
    +li Разрабатывается гуглом
    +li На сегодняшнй день лидирующий фреймворк машинного обучения.
    +li Монументален, полностью задокументирован, покрыт примерами и туториалами.
    +li Собирает собственные конференции, по нему выходят курсы и пишутся толстые книги.

section
  h2 pytorch
  ul
    +li Разрабатывается фейсбуком
    +li Молодой, но уже набравший обороты фреймворк
    +li Основан на некогда популярном пакете torch
    +li С Tensorflow ему пока тяжело соревноватья, но популярность растет
    +li За плечами фейсбук и 16 лет опыта torch


section
  h2 Keras
  ul
    +li Высокоуровневое API работающее поверх Tensorflow, Theano, CNTK
    +li Оно на столько хорошо, что Tensorflow начал с версии 2.0 поддерживать его нативно
    +li Идеально подходит для погружения в ML


section
  h2 catboost
  ul
    +li Разрабатывается яндексом
    +li Библиотека градиентного бустинга, применяемая для класссификации и регрессии
    +li Отлично работает с данными, метрики которых неоднородны


section
  h2 Java Script
  +p Не смотря на общую популярность, JS не самый лучший язык для ML. В первую очередь из-за сложности с оптимизацией вычислений. 
  +p Существуют такие игрушки:
  ul.fragment
    li Tensorflow.js
    li Synaptic
    li Brain.js
    li convnet.js


section
  h2 ЧТО ЖЕ ВЫБРАТЬ?
  ul
    +li Tensorflow
    +li Но перед погружением можно поиграться с Keras и веб песочницами
    +li Следим за pytorch
    +li Данные обрабатываем через numpy/pandas
    +li Для простых задач - берем готовое решение из scikit
    +li Для классификаци многомерных данных пробуем catboost


section
  h2 Где взять столько терафлопов?
  ul
    +li Поиграть с GPU/TPU можно на colab'e
    +li Под серьёзные задачи арендуем флот спотов на AWS
